<!doctype html>
<html class="fuelux" lang="en">
<head>
<!-- Header start -->
  <% include partials/head.html %>

   <!--saved success message display path start-->
  <script src="/javascripts/forms.js"></script>
  <!--saved success message display path end-->

</head>
<!-- Header end -->

<body>

<section class="content">

  <!-- Sidebar Start -->
    <% include partials/sidebar.html %>
  <!-- Sidebar End -->

<div class="content-liquid-full">
  <div class="container">

          <!-- Header Bar Start -->
        <% include partials/header.html %>
      <!-- Header Bar End -->


    <!-- Breadcrumbs Start -->
    <div class="row breadcrumbs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumbs">
          <li><a href="#"><i class="fa fa-home"></i></a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Blank Page</a></li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumbs End -->
	
	<!-- Form Elements start -->
	
	<div class="col-md-12">
            <div class="boxed">

              <!-- Title Bar Start -->
              <div class="title-bar">
                <h4>Smart Form Elements</h4>
              </div>
              <!-- Title Bar End -->

			  <!--form start-->
              <div class="inner no-radius">

                <form method="POST" class="basic-form" action="/changepass/save"name="form">
				<div class="row">
                  <div class="col-md-6">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Use alphanumeric characters and limit it to 8!">
                  </div>
                  </div>
				  
				  <div class="row">
                 <div class="col-md-6">
                    <label for="password">Old Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" id="old password" name="old password" placeholder="password" class="form-control">
                    </div>
                  </div>
				  </div>
				  
				  <div class="row">
                 <div class="col-md-6">
                    <label for="password">New Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" id="password" name="password" placeholder="New password" class="form-control">
                    </div>
                  </div>
				  </div>
				  
				  <div class="row">
				  <div class="col-md-6">
                    <label for="rep-password">Repeat Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" class="form-control">
                    </div>
                  </div>
                </div>
				
                </form>
				<!--form end-->
				<!--Reset Password Button Start-->
				<div class="row">  
                   <div class="col-md-6 text-left">
                      <button type="submit" id="btn-success" class="btn btn-lg btn-success" id="submit"><i class="fa fa-check"></i>Reset Password</button>
                    </div>
				</div>
				<!--Reset Password Button Start-->
              </div>
            </div>
          </div>
		  
		  <!-- Form Elements End -->
		  
		  <!-- Javascript -->

  <% include partials/foot.html %>

		 <!-- End Javascript -->
	
	
	</body>
	</html>