<!doctype html>
<html class="fuelux" lang="en">
<!-- Header start -->
  <% include partials/head.html %>

<!--Password Validator start-->
   
</head>
<!-- Header end -->

<body>

<section class="content">

  <!-- Sidebar Start -->
    <% include partials/sidebar.html %>
  <!-- Sidebar End -->

<div class="content-liquid-full">
  <div class="container">
    
              <!-- Header Bar Start -->
        <% include partials/header.html %>
      <!-- Header Bar End -->


    <!-- Breadcrumbs Start -->
    <div class="row breadcrumbs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumbs">
          <li><a href="#"><i class="fa fa-home"></i></a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">Blank Page</a></li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumbs End -->

<!--Form start-->

<form method="post" class="basic-form" action="/changepassword/save"name="form" >
  
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>PASSWORD</h3>
    </div>    
          <div class="boxed">


              <!-- Title Bar Start -->
              <div class="title-bar">
                <h4>CHANGE PASSWORD</h4>
              </div>
              <!-- Title Bar End -->

              <div class="inner no-radius">

               
                <div class="row">
                <div class="col-md-6">
                   <label for="email">Username:</label>
                    <input type="text" name="username" id="username" placeholder="Enter username" required autofocus/>
                  </div>
                </div>
                  
                 <div class="row">
                <div class="col-md-6">
                  <label for="password"> OldPassword:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" placeholder=" Enter old Password" name="oldPassword" id="oldPassword">
                     </div>
                    </div>
                  </div>

                  <div class="row">
                  <div class="col-md-6">
                    <label for="inputpasswordconfirm">New Password:</label>
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" class="form-control" placeholder="Enter New Password" name="newPassword" id="newPassword">

                   </div>
                  </div>  
                  </div>
                     

                   <div class="row">  
                   <div class="col-md-6 text-left" style="margin-top:15px">
                      <button type="submit" class="btn btn-lg btn-success" id="submit"><i class="fa fa-check"></i> Save</button>
                    </div>
                                    
                  </div>
                  
              </div>

            </div>
            
      </div>
</div>
      </div>
 
</section>
<!-- Form End-->


<!-- Javascript -->

  <% include partials/foot.html %>

<!-- End Javascript -->


</body>
</html>