<!doctype html>
<html class="fuelux" lang="en">
  <% include partials/head.html %>
<body>
<section class="content">
  <!-- Sidebar Start -->
    <% include partials/sidebar.html %>
  <!-- Sidebar End -->
<div class="content-liquid-full">
  <div class="container">
              <!-- Header Bar Start -->
        <% include partials/header.html %>
      <!-- Header Bar End -->

    <!-- Breadcrumbs Start -->
       <div class="row breadcrumbs">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumbs">
               <li><a href="#"><i class="fa fa-home"></i></a></li>
               <li><a href="#">Change password  Page</a></li>
             </ul>
          </div>
        </div>
    <!-- Breadcrumbs End -->

<!--Form start-->                                   
   <form method="post" class="basic-form" action="/expenses/save" data-uri="/expenses/save">
    <div id="message" class="alert">
      <p></p>
    </div> 
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
    </div>
    </div>
          <div class="boxed"> 

              <!-- Title Bar Start -->
              <div class="title-bar" style="padding-left: 40%;">
                <h4> CHange password</h4>
              </div>
              <!-- Title Bar End -->
              <div class="inner no-radius">
                 <div class="row" style="margin-top: 20px;" autofocus>               
                      <div class="col-md-3" style="padding-left:6%;">
                       <label for="current_password">Current Password :</label>
                      </div>
                          <div class="col-md-6" style="padding-right: 12%" >
                             <input type="password" name="current_password" placeholder="Enter current password" required autofocus />
 
                          </div>
                      </div>                         
                 <div class="row" style="margin-top: 20px;">
                       <div class="col-md-3" style="padding-left:8%;">
                          <label for="password">New password:</label>
                       </div>
                            <div class="col-md-6" style="padding-right: 12%">
                                 <input type="password" name="new_password" id="password" placeholder="Enter new password" required />
                            </div>
                   </div>
                  
                                           <div class="row" style="margin-top: 20px;">
                                                 <div class="col-md-3" style="padding-left:6%;">
                                                        <label for="confirm_password">Confirm password:</label>
                       </div>
                            <div class="col-md-6" style="padding-right: 12%">
                                 <input type="password" name="confirm_password" id="confirm_password"  />
                            </div>
                       </div>
                               
                 <div class="modal-footer" style="margin-top: 20px;">  
                              <div class="col-md-3" style=" margin-right:30px";>
                                  <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Save Changes</button>
                               </div>
                 </div>
             </div>
        </div>
    </div>
 </form>
</section>
<!-- Form End-->
<!-- Javascript -->
  <% include partials/foot.html %>
  <script src="/javascripts/forms.js"></script>
</body>
</html>