<!doctype html>
<html class="fuelux" lang="en">
<head>
  <% include partials/head.html %>
   <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script src="/js/user/events.js"></script>

</head>
<body>
<section class="content">

    <% include partials/sidebar.html %>

<div class="content-liquid-full">
  <div class="container">

        <% include partials/header.html %>

    <div class="row breadcrumbs">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumbs">
          <li><a href="/dashboard"><i class="fa fa-home"></i></a></li>
          <li><a href="">Job Listing Page </a></li>
          
        </ul>
      </div>
    </div>
 <form method="post" class="basic-form" action="">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <h3>Jobs</h3>
      </div>
    </div>
       
    <div class="boxed">
        <div class="title-bar" style="padding-left:40%;">
           <h4> Listing</h4>
           <div class="input-group" style="float:right;">
           <a href="/job/save" padding-right: 5px;><i class="fa fa-plus"></i></a>
           </div>        
        </div>

        <!-- Title Bar End -->

        <!--button start-->
      
        <!--table header start-->

      <div class="inner">
        <table class="theme-table invoice-table" id="user-list" >
          <div style="width:200px;">
          <thead>
            <tr>
              <th style="border-bottom: 0px;">job title</th>            
              <th style="border-bottom: 0px;">customer</th>         
              <th style="border-bottom: 0px;">employee</th>                  
              <th style="border-bottom: 0px;">status</th>
              <th style="border-bottom: 0px;">Action</th>  
            </tr>
          </thead>
                <tbody>

                    <% for(var i = 0; i < jobList.length; i++) { %>
                <tr>
                  <td style="background-color:transparent;"><%= jobList[i].title %></td>
                  <td style="background-color:transparent;"><%= jobList[i].customer %></td>
                  <td style="background-color:transparent;"><%= jobList[i].employee %></td>             
                  <td style="background-color:transparent;"><%= jobList[i].status %></td>
                  <td> 
                    <a href="/job/jobDetails?id=<%=jobList[i].id%>"><i class="fa fa-eye"></i></a>
                    <a href="" alt="edit"><i class="fa fa-pencil"></i></a>
                    <a href=""><i class="fa fa-trash-o"></i></a>
                  </td>
                </tr>
                    <% } %>
             </tbody>
           <!--table body end-->          
          </div>       
        </table>      
        <!--table end-->  
     </div>          
    </div>
   </div>      
  </div>
 </section>
</form>

<!-- Form End-->
<!-- Javascript -->

  <% include partials/foot.html %>

<!-- End Javascript -->

</body>
</html>
