  <!-- Sidebar Start -->
  <div class="sidebar">

    <!-- Logo Start -->
    <a href="index.html">
      <div class="logo-container" id="step1">
        <h1>Field-Force</h1>
        <h4>Dashboard</h4>
      </div>
    </a>
    <!-- Logo End -->

    <!-- Sidebar User Profile Start -->
    <div class="sidebar-profile">
      <div class="user-avatar">
        <img src="/user.png" alt="My Profile" />
      </div>
      <div class="user-info">
        <a href="/profile"><%= user.name %></a>

      </div>
    </div>

    <div class="responsive-menu">
      <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <!-- Sidebar User Profile End -->

    <!-- Menu Start -->
    <ul class="menu">
      <li class="lightblue active">
        <a href="/dashboard">
          <span class="menu-icon"><i class="fa fa-home"></i></span>
          <span class="menu-text">Dashboard</span>
          <span class="notification">4</span>
        </a>
      </li>

      <li class="lightorange">
      <a href="/users">
        <span class="menu-icon"><i class="fa fa-users"></i></span>
        <span class="menu-text">Users</span>
      </a>
    </li>

    <li class="lightorange">
      <a href="/job/jobList">
        <span class="menu-icon"><i class="fa fa-briefcase"></i></span>
        <span class="menu-text">Jobs</span>
      </a>
    </li>

   <li class="lightorange">
      <a href="/customer">
        <span class="menu-icon"><i class="fa fa-user"></i></span>
        <span class="menu-text">Customer</span>
      </a>
    </li>
     <li class="lightorange">
      <a href="/changepassword">
        <span class="menu-icon"><i class="fa fa-cog"></i></span>
        <span class="menu-text">ChangePassword</span>
      </a>
    </li>
	

   <li class="lightorange">
      <a href="/expenses/save">
        <span class="menu-icon"><i class="fa fa-inr"></i></span>
        <span class="menu-text">Expenses</span>
      </a>
    </li>

  </ul>
    <!-- Menu End -->

    

  </div>
  <!-- Sidebar End -->
